body{
    background-color: lightblue;
}
div{
    text-align: center;
    background-color: lightblue 
}

h2{
    text-align: left;
    font-size: 45px
}

ol{
    font-size: 20px
}

ul{
    font-size: 20px
}



